<style>
	*{margin: 0;padding: 0;}
	
	body{
		width: 100%;
	}
	
	.container{
		width: 90%;
		margin-left:auto ;
	}
	#top{
		width:80%;
		height:25px;
		text-align: center;
		background-color:#209bab;
	}

	.header{
		width:80%;
		height:200px;
	}

	#nav{
		width:80%;
		height:35px;
		background-color:#79b8ea;
		margin:5px 0px;
	}
	
	#nav ul{
		margin:0 auto;
		padding: 0;
		width:100%;
		height: 35px;
	}
	#nav ul #li1{
		width: 14%;
		height: 35px;
		float:left;
		display:block;
		list-style-type:none;
	}
	
	#nav ul #li1 #a{
		display:block;
		width: 100%;
		height: 35px;
		text-align: center;
		line-height: 35px;
		float:left;
		color:white;
		text-decoration: none;
	}
	
	#nav  #a:visited{
		color:brown;
		text-decoration:none;
	}
	#nav  #a:hover{
		background-color:palevioletred;
		text-decoration:none;
	}
	
	.main{
		width:80%;
		height:400px;
	}
	.main .left{
		width:76%;
		height:400px;
		float:left;
	}
	
	.main .left .four{
		width:46%;
		height:175px;
		margin-right:4%;
		margin-bottom:10px;
		float:left;
	}
	.main .left .four input{}
	.main .left .four ul{
		width: 100%;
		height:150px;
		display:block;
		padding:0px;
		margin: 0;
	}
	.main .left .four ul li{
		width:100%;
		height:20px;
		list-style-type:none;
		margin:2px;
		display:block;
	}				  
	.main .left .four a{
		font-size:12px;
		line-height: 20px;
		color: black;
		text-decoration: none;
	}
	.main .left .four a:hover{
		text-decoration: underline;
		color: red;
	}

	.main .right{
		width:22%;
		height:400px;
		float:right;
		margin-right: 0;
	}
	.main .right .two{
		width: 100%;
	}
	.main .right .two ul{
		display:block;
		width: 100%;
		padding:0px;
		margin: 0;
	}	
	.main .right .two ul li{
		width: 100%;
		height: 22px;
		list-style-type:none;
		margin:2px;display:block;
	}		
	.main .right .two a{
		font-size:12px;
		line-height:22px;
		color: black;
		text-decoration: none;
	}
	.main .right .two a:hover{
		text-decoration: underline;
		color: red;
	}
	.bottom{
		width:80%;
		height:25px;
		background-color:#209bab;
		text-align: center;
	}
	.bottom a{
		text-decoration: none;
		color: beige;
	}

	

</style>